.board {
  display: flex;
  flex-direction: row;
  color: pink;
}

.board-column {
  display: flex;
  flex-direction: column;
}

.board-column:hover {
  cursor: pointer;
  background-color: rgb(236, 173, 90);
}
